*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* nav start */
a {
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 56px;
    width: 100%;
    box-shadow: 0px 1px 3px #ccc;
    padding: 8px 13px 0px 13px;
    position: sticky;
    top: 0;
    z-index: 3;
}
nav .nav-left {
    display: flex;
}
nav .nav-left .fa-facebook {
    font-size: 40px;
    color: #1877f2;
    margin-right: 5px;
}
.search {
    position: relative;
}
.search .fa-search {
    color: #606770;
    position: absolute;
    font-size: 15px;
    left: 15px;
    top: 13px;

}
.search input {
    border: none;
    margin-left: 5px;
    background-color: rgba(68, 54, 54, 0.048);
    padding: 9px 16px 9px 36px;
    border-radius: 50px;
    color: #606770;
    font-size: 15px;
    height: 35px;
}
.search input:focus{
    outline: none;
}
.nav-middle{
    display: flex;
    align-items: center;
}

.nav-middle a {
    text-decoration: none;
    color: #65676b;
    font-size: 25px;
    margin: 0px 10px;
    padding: 10px 20px;
}
.nav-middle a:hover{
    background-color: #65676b1a;
    border-radius: 10px;
}
.nav-middle .active{
    color: #1877f2;
    border-bottom: 3px solid #1877f2;
}
.nav-middle a {
    color: #65676b;
}
.nav-right {
    display: flex;
    align-items: center;
}
.nav-right .profile{
    display: flex;
    align-items: center;
    margin-right: 5px;
    padding: 2px 10px 2px 2px;
}
.profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.nav-right .profile p{
    color: #050505;
    font-size: 15px;
    font-weight: bold;
    margin-left: 3px;
}
.nav-right  a {
    text-decoration: none;
    background-color: #e4e6eb;
    border-radius: 50px;
    color: #050505;
    font-size: 18px;
    height: 40px;
    width: 40px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* and nav */
.sec_all{
    display: flex;
    justify-content: space-between;
    background-color: #f0f2f5;
}

.left_side{
    background-color: #f0f2f5;
    width: 350px;
    overflow: hidden;   /*  لاخفاء الفائض من النصوص */
    height: 100vh;
    position: sticky;
    right: 0;
    top: 56px;
}
.left_side:hover {
    overflow:scroll; /* لاظهار الشريط لاخفاء الفائض */
}
.left_side li{
    display: flex;
    align-items: center;
    padding: 10px 10px 10px;
    border-radius: 8px;
}
.left_side img{
    width: 25px;
    height: 35px;
}
.userImg {
    border-radius: 50%;
}
.left_side p{
    color: #050505;
    font-size: 15px;
    font-weight: bold;
    margin-left: 3px;
}
.middle{
    padding: 0 70px;
}
.container{
    display: flex;
    margin-top: 20px;
}
.firstleft {
    width: 100%;
    height: 200px;
    background-color: white;
    /* overflow: hidden; */
    margin-left: 7px;
    border-radius: 10px;
    box-shadow: 00 5px 5px;
    position: relative;
}
.firstleft .icons {
    font-size: 20px;
    background-color: #1877f2;
    color: white;
    padding: 8px;
    border-radius: 50%;
    border: 4px solid;

    position: absolute;

    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);   /* لتحريك الايكونة فى منتصف الصورة  */
}
.firstleft p {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    color: black;
}
.firstleft .firstimg {
    width: 100%;
    height: 140px;
    border-radius: 10px;
}
.second2{
    position: relative;
}
.second2 .small {
    position: absolute;
    top: 11px;
    left: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #1877f2;
}
.second2 .second {
    height: 100%;
}
.second2 p{
    position: absolute;
    color: white;
    bottom: 10px;
    left: 8px;
}
.mind {
    width: 100%;
    height: 100px;
    background-color: white;
    margin: 20px 0px;
    padding-top: 5px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px #ddd;
}
.mind .mind2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;

}
   /* الصورة */
.mind .mind2 .inmind {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}
.mind .mind2 input {
    background: #f0f2f5;
    width: 88%;
    height: 30px;
    padding: 10px;
    border:none;
    outline: none;
    border-radius: 50px;
}
.mind hr {
    width: 93%;
    margin-top: 8px;
    margin-left: 28px;
    background-color: rgb(190, 189, 189);
}
.under{
    display: flex;
    justify-content: space-around;
    margin: 10px 0px 0px 0px;
}
.under .firstu a{
    color: #606770;
}
.under .firstu .fas{
    margin-right: 5px;
    font-size: 20px;
}
.fa-video{
    color: #f3425f;
}
.fa-images{
    color: #45bd62;
}
.fa-laugh {
    color: #f7b928;
}
.Fpost {
    background-color: white;
    padding: 20px 20px 5px 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px #ddd;
    margin-bottom: 20px;
}
.postDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.postDetail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.postDetail img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.postDetail p{
    color: #898e94;
    font-size: 12px;
    margin-top: 5px;
}
.postDetails .fas {
    font-weight: 900;
}

.thepost p{
    margin: 20px 0px;
    font-size: 20px;
}

.thepost img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.reacts{
    padding: 20px 50px 0px;
    border-top:1px solid #898e94;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #898e94;
}
.reacts div {
    display: flex;
    align-items: center;
}
.reacts i {
    font-size: 20px;
    margin-right: 10px;
}
.right_side{
    background-color: #f0f2f5;
    width: 300px;
    position: sticky;
    right: 0;
    top: 56px;
    padding: 20px;
    overflow-y: hidden;   /*  لاخفاء الفائض من النصوص */
    height: 100vh;
}
.right_side:hover {
    overflow: scroll; /* لاظهار الشريط لاخفاء الفائض */
}
.sponsored p{
    color: #65676b;
    font-size: 20px;
    margin-top: 10px;
}
.sponsored div{
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: #050505;
    border-radius: 8px;
    padding: 5px 50px 5px 5px;
}
.sponsored h3{
    font-size: 15px;
    margin-left: 10px;
}
.sponsored img{
    width: 120px;
    height: 70px;
    border-radius: 8px;
}
.contact_icons{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
}
.contact_icons i {
    color: #65676b;
    margin: 0px 5px;
}
.contacts p{
    color: #65676b;
    font-size: 16px;
    margin-top: 8px;
}

.contacts img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 7px;
}
.contacts li {
    margin-top: 5px;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    margin-left: 40px;
}
.contacts li:hover{
    background-color: rgba(0, 0, 0,0.05);
}